
    <header class="header-section container-fluid">
        <nav class="navbar navbar-expand navbar-dark bg-dark">
            <a class="navbar-brand" href="/">
                <img src="images/image4.png" width="50" height="50" class="d-inline-block align-top" alt="">
                L'ultima Cena
            </a>
            <ul class="navbar-nav mr-auto">
            </ul>
            <ul class="navbar-nav">

                <!-- LINKS -->

                <li class="nav-item active">
                    <a class="nav-link" href="/">Build Your Pizza!</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/orders">Orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/statistics">Statistics</a>
                </li>
            </ul>
        </nav>
    </header>